#!/bin/bash
docker_user=$1
docker_pwd=$2
docker_url=$3

function docker_login(){
  docker login -u $docker_user -p $docker_pwd $docker_url
}
function verify_login(){
  login_attempt=3
  login_succeed=false
  while [ "$login_attempt" -gt 0 ]
  do
    if docker_login
    then
      login_succeed=true
      break
    else
      login_attempt=$[$login_attempt-1]
    fi
  done
  if [ $login_succeed == "false" ]
  then
    #echo "fail to login"
    exit 1
  fi
}
function check_fluentd(){
  {{range $dir := lsdir "/hosts/client_node/"}}{{$client_node_ip := printf "/hosts/client_node/%s/ip" $dir}}{{$client_inst_id := printf "/hosts/client_node/%s/instance_id" $dir}}
  loop=60
  while [ "$loop" -gt 0 ]
  do
    #image_record=`docker images -a |awk '{print $1":"$2}'|grep $docker_url`
    if timeout 2 bash -c "</dev/tcp/{{getv $client_node_ip}}/24224"
    then
      break
    else
      sleep 5s
    fi
  done
  {{end}}
}