{
     "name": {{cluster.name}},
     "description": {{cluster.description}},
     "vxnet": {{cluster.vxnet}},
     "nodes": [
         {
             "role": "docker_node",
             "container": {
                 "type": "kvm",
                 "zone": "pek3a",
                 "image": "img-hg9zvbdy"
             },
             "loadbalancer": {{cluster.docker_node.loadbalancer}},
             "instance_class": {{cluster.docker_node.instance_class}},
             "count": {{cluster.docker_node.count}},
             "cpu": {{cluster.docker_node.cpu}},
             "memory": {{cluster.docker_node.memory}},
             "volume": {
                "size": {{cluster.docker_node.volume_size}},
                "mount_point": "/data",
                "mount_options":"defaults,noatime",
                "filesystem":"ext4"
             },
             "vertical_scaling_policy": "sequential",
             "services": {
             	 "init": {
                    "order": 1,
             	 	"cmd": "/opt/docker/bin/init-docker.sh"
             	 },
                 "start": {
                    "order": 1,
                    "cmd": "/opt/docker/bin/start-docker.sh && /opt/docker/bin/run-img.sh"
                 },
                 "restart": {
                   "cmd": "/opt/docker/bin/restart-docker.sh && /opt/docker/bin/run-img.sh"
                 },
                 "stop": {
                     "cmd": "/opt/docker/bin/stop-docker.sh"
                 },
                 "upgrade image": {
                     "type": "custom",
                     "cmd": "/opt/docker/bin/upgrade-img.sh"
                 }
             },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 10,
                "action_timeout_sec": 30,
                "healthy_threshold": 2,
                "unhealthy_threshold": 2,
                "check_cmd": "/opt/docker/bin/check-health.sh",
                "action_cmd": "/opt/docker/bin/restart-docker.sh && /opt/docker/bin/run-img.sh"
            },
             "advanced_actions": ["scale_horizontal"]
         },
         {
             "role": "client_node",
             "container": {
                 "type": "kvm",
                 "zone": "pek3a",
                 "image": "img-8uvmmvu8"
             },
             "instance_class": {{cluster.client_node.instance_class}},
             "count": 1,
             "cpu": {{cluster.client_node.cpu}},
             "memory": {{cluster.client_node.memory}},
             "volume": {
                "size": {{cluster.client_node.volume_size}},
                "mount_point": "/data",
                "mount_options":"defaults,noatime",
                "filesystem":"ext4"
             },
             "vertical_scaling_policy": "sequential",
             "services": {
             	 "init": {
             	 	"cmd": "/opt/docker/bin/init-docker.sh"
             	 },
                 "start": {
                    "cmd": "/opt/docker/bin/start-docker.sh && /opt/docker/bin/run-img.sh"
                 },
                 "restart": {
                   "cmd": "/opt/docker/bin/restart-docker.sh"
                 },
                 "stop": {
                     "cmd": "/opt/docker/bin/stop-docker.sh"
                 }
             },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 10,
                "action_timeout_sec": 30,
                "healthy_threshold": 2,
                "unhealthy_threshold": 2,
                "check_cmd": "docker ps | awk '{print $2}' | grep -v 'none' | grep -iv 'container' | grep fluent",
                "action_cmd": "/opt/docker/bin/restart-docker.sh && /opt/docker/bin/run-img.sh"
            },
             "user_access": true
         }
     ],
     "env": {
         "docker_mirror_location": {{env.docker_mirror_location}},
         "docker_user": {{env.docker_user}},
         "docker_pwd": {{env.docker_pwd}},
         "is_pull_secure": {{env.is_pull_secure}},
         "docker_pull_url": {{env.docker_pull_url}},
         "docker_run_cmd": {{env.docker_run_cmd}},
         "is_upgrade_secure": {{env.is_upgrade_secure}},
         "docker_upgrade_url": {{env.docker_upgrade_url}},
         "docker_vol": {{env.docker_vol}},
         "docker_port": {{env.docker_port}},
         "es_ip": {{env.es_ip}},
         "es_port": {{env.es_port}}
     }
 }
